# dependencies
node_modules/

# builds
.next/
dist/
out/
build/

# .NET
bin/
obj/

# env / secrets
.env
.env*.local
!.env.example

# logs
*.log
npm-debug.*

# os / editor
.DS_Store
*.suo
*.user

# misc
*.tsbuildinfo
